DATABASE_URL="postgresql://postgres:[YOUR-PASSWORD]@db.cjvbjsmtorutjvonvjah.supabase.co:5432/postgres"
NEXTAUTH_SECRET="MvxySC2o99MIds8xVv89aT9ntRpwfccTLWuIFlwfoQ0="
NEXTAUTH_URL="http://localhost:3000"
